<div id="<%= dom_id good %>">
  <p>
    <strong>Name:</strong>
    <%= good.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= good.desc %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= good.price %>
  </p>

</div>
