<% provide(:title, "Головна") %>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">SadOk</h1>
      <p class="lead text-muted">Найкращий садовий центр в Миколаєві.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Зателефонуйте мені</a>
        <a href="#" class="btn btn-secondary my-2">Каталог</a>
      </p>
    </div>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @goods.each do |good| %>

        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Зображення</text></svg>

            <div class="card-body">
              <p class="card-text"><%= good.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/goods/<%= good.id %>" class="btn btn-sm btn-outline-secondary">Купити</a>
                <small class="text-muted"><%= good.price %> грн</small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>